```{=html}
<div class="list quarto-listing-default">
    <% for (const item of items) { %>
    
    <div class="quarto-post image-right">
        <div class="thumbnail">
            <a href="<%- item.path %>">

                <p>
                    <% if (item.image) { %>
                    <img alt="<%= item.title %>" src="<%= item.image %>" class="thumbnail-image">
                    <% } %>

                </p>
      

            </a>
        </a>
        </div>
        <div class="body">
            <a href="<%- item.path %>">
            <div class="no-anchor listing-pub-title"><%= item.title %></div>
            </a>
            <div class="listing-categories">
            <% for (const category of item.categories) { %>
            <div class="listing-category" onclick="window.quartoListingCategory('<%=category%>'); return false;"><%= category %></div>
            <% } %>
            </div>
            <a href="<%- item.path %>">

                <div class="metadata-value listing-pub-journal">
                  <%= item.publication %><br> 
                  <% if (item.journ) { %>
                    <%= item.journ %>, <b><%= item.issue %></b>, <i>pp. <%= item.page %></i> (<%= item.year %>)<br>
                    <%= item.pub %>
                    <% } %>




                </div>

              <div class="listing-pub-author">
                <%= item.author %><br> 
              </div>
              

            </a>
        </div>
        <div class="metadata">
            <a href="<%- item.path %>">
                <div class="listing-pub-number">
                    <%= item.pub_number %><br> 
                </div>

            </a>
            <% if (item.url_source) { %>
            <div class="listing-pub-url">

                    <a href="<%- item.url_source %>">
                    <p>external URL <i class="bi bi-box-arrow-up-right"></i></p>
                    </a>
                </div>
                    <% } %>




        </div>
    </div>
    
    <% } %>
    </div>

```