```{=html}
<div class="list quarto-listing-default">
    <% for (const item of items) { %>
    
    <div class="quarto-post image-right" <%= metadataAttrs(item) %> >
        <div class="thumbnail">
            <!-- <a href="<%- item.path %>"> -->

                <p>
                    <% if (item.image) { %>
                    <img alt="<%= item.title %>" src="<%= item.image %>" class="thumbnail-image">
                    <% } %>

                </p>
      

            <!-- </a> -->
        </div>
        <div class="body">
            <!-- <a href="<%- item.path %>"> -->
            <div class="no-anchor listing-pub-title listing-title"><%= item.title %></div>
            <!-- </a> -->
            <!-- <a href="<%- item.path %>"> -->
                
                <div class="listing-pub-author listing-author">
                    <%= item.author %><br> 
                </div>
                
                <div class="metadata-value listing-pub-journal listing-publication">
                    <% if (item.journ) { %>
                        <i><%= item.journ %></i><% if (item.issue) { %>, <b><%= item.issue %></b><% } %><% if (item.page) { %>, <%= item.page %><% } %><% if (item.year) { %> (<%= item.year %>)<% } %><br>
                        
                        <% } %>
                        
                        
                        
                        
                </div>
                    
                    
                    
            <!-- </a> -->
 <!--               <div class="listing-categories">
                <% for (const category of item.categories) { %>
                <div class="listing-category" onclick="window.quartoListingCategory('<%=category%>'); return false;"><%= category %></div>
                <% } %>
                </div>
                -->
        </div>
        <div class="metadata">
            <!-- <a href="<%- item.path %>"> -->
                <div class="listing-pub-number">
                    <%= item.pub_number %><br> 
                </div>

            <!-- </a> -->
            <% if (item.url_source) { %>
            <div class="listing-pub-url">

                    <a href="<%- item.url_source %>">
                    <p style="color:#8250E6;">journal URL <i class="bi bi-box-arrow-up-right"></i></p>
                    </a>
                </div>
                    <% } %>

            <% if (item.url_preprint) { %>
            <div class="listing-pub-url">

                    <a href="<%- item.url_preprint %>">
                    <p style="color:#8250E6;">preprint URL <i class="bi bi-box-arrow-up-right"></i></p>
                    </a>
                </div>
                    <% } %>




        </div>
    </div>
    
    <% } %>
    </div>

```